body
 background-color #f9f9f9

h1, h2, h3, h4, h5, h6
    font-family:  AvenirNext-DemiBold, Helvetica, sans-serif
.card
  border-radius 2px
  background-color #FFF
  padding 18px
  box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0

.top-bar
  /*background-color: #35262D; pink*/
  /*background-color: rgb(250, 187, 0);DeF yellow*/
  background-color: #c41a18 // red
  border: 0
  border-radius: 0
  border-bottom: 1px solid #999
  display flex
  justify-content space-around
  padding 0
  height 50px
  .navbar-brand
    font-family:  AvenirNext-Bold, Helvetica, sans-serif
    font-size: 22px
    color: #222
  .navbar-text
    font-family:  AvenirNext-DemiBold, Helvetica, sans-serif
    color: #333
    text-overflow: ellipsis
  .navbar-brand:hover, .navbar-brand:focus
    color: #333
  & > *
    margin 8px 16px 0

  .margin-10
    margin: 10px

  .margin-0
    margin: 0
