body
 background-color #f9f9f9

h1, h2, h3, h4, h5, h6
    font-family:  AvenirNext-DemiBold, Helvetica, sans-serif
.card
  border-radius 2px
  background-color #FFF
  padding 18px
  box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0

.margin-10
  margin: 10px

.margin-0
  margin: 0
.flex-box
  display flex
  justify-content space-around
