.CommentsDisplay
  width 350px
  margin-left 36px
  padding 12px
  .card
    margin-top 12px
    position relative
    .delete-x
      position absolute
      top 12px
      right 12px
      cursor pointer
    .post-button
      cursor pointer
      font-weight bold
    img
      margin-right 8px
    .comment-text
      margin-right 8px
      flex 1
  .flex-start
    display flex
    justify-content flex-start
