.CommentsDisplay
  width 350px
  margin-left 36px
  padding 12px
  .card
    margin-top 12px
    position relative
    .delete-x
      position absolute
      top 12px
      right 12px
      cursor pointer
