.UserBox
  margin 0 !important
  display flex
  justify-content space-around
  cursor pointer
  .nava-ava
    height: 50px
    padding: 0px

  .navbar-user
    padding 6px
    .username
      line-height 2.4

  #avatar-upload-file
    padding: 10px

  .login-dropdown
    position: absolute
    background-color: white
    right: 6px
    top: 40px
    width: 200px
    padding: 10px
    z-index: 999
