.UserArea
  input
    margin 8px
  button
    margin 0 12px
  .login-dropdown
    position: absolute
    right: 6px
    top: 40px
    width: 300px
    z-index: 999
  .UserBox
    margin 0 !important
    display flex
    justify-content space-around
    cursor pointer
    button
      margin 0
      padding 0 8px
    .nava-ava
      height: 50px
      padding: 0px

    .navbar-user
      padding 6px
      .username
        line-height 2.4
    #avatar-upload-file
      padding: 10px
  .LoginBox
    .login-text
      line-height 2
      cursor pointer
  .flex-container
    display flex
    justify-content space-between
