html          { overflow-y:scroll; }
/*body          { padding-top:70px; }*/

body {
 background-color: #E8ECED;
 font-family:  AvenirNext, Helvetica, sans-serif;

}


.navbar-btn {
 margin-right: 10px;
}

.paypal-button  {
 margin: 10px;
}



.event-listing {
     border-left: 3px solid #eee;
     padding: 10px 10px;
     margin: 5px 0px;
     background: #FDFDFD;
 }

#commentText {
 background-color: #FFFBFF;
}

#comments-form {
  margin-bottom: 100px;
}

.comment-avatar {
 padding: 5px;
}

.comment-meta {
 margin: 0;
}

.posts-container {
 margin-top: 30px;
}

.side-btn {
 margin-bottom: 10px;
 margin-top: 10px;
}
.side-btn-sm {
 margin-bottom: 5px;
}

textarea {
 border:2px solid #ccc;
 padding: 10px;
 vertical-align: top;
 width: 25%;
}

.animated {
 -webkit-transition: height 0.2s;
 -moz-transition: height 0.2s;
 transition: height 0.2s;
}

.edit-textarea {
 font-family: 'Crimson Text', Georgia, serif;
 font-size: 14px;
 line-height: 1.428571429;
 color: #333;
 /*background: #FDFDFD; */

}

@media (max-width: 768px) {
 .navbar {
   margin-bottom: 10px;
 }
}
